
'.termrk':
    'enter':           'native!'
    'backspace':       'native!'
    'shift-backspace': 'native!'
    'tab':             'native!'
    'delete':          'native!'
    'insert':          'native!'
    'left':            'native!'
    'right':           'native!'
    'up':              'native!'
    'down':            'native!'
    'pageup':          'native!'
    'pagedown':        'native!'
    'escape':          'native!'

    'ctrl-c':    'native!'
    'ctrl-u':    'native!'
    'ctrl-x':    'native!'
    'ctrl-y':    'native!'
