
# in workspace
'atom-workspace':
    'alt-space':      'termrk:toggle'

# in termrk view
'.termrk':
    'enter':          'native!'
    'backspace':      'native!'
    'tab':            'native!'
    'delete':         'native!'
    'insert':         'native!'

    'escape':         'termrk:hide'
    'ctrl-space':     'termrk:create-terminal'
    'ctrl-tab':       'termrk:activate-next-terminal'
    'ctrl-shift-tab': 'termrk:activate-previous-terminal'
