
# in workspace
'atom-workspace':
    'alt-space':            'termrk:toggle'
    'ctrl-alt-space':       'termrk:create-terminal-current-dir'
    'ctrl-alt-shift-space': 'termrk:insert-selection'

# in termrk view
'.termrk':
    'enter':           'native!'
    'backspace':       'native!'
    'shift-backspace': 'native!'
    'tab':             'native!'
    'delete':          'native!'
    'insert':          'native!'
    'left':            'native!'
    'right':           'native!'
    'up':              'native!'
    'down':            'native!'
    'pageup':          'native!'
    'pagedown':        'native!'
    'escape':          'native!'

    'ctrl-c':    'native!'
    'ctrl-u':    'native!'
    'ctrl-x':    'native!'
    'ctrl-y':    'native!'

    'shift-insert': 'core:paste'

    'ctrl-escape':    'termrk:close-terminal'
    'ctrl-space':     'termrk:create-terminal'
    'ctrl-tab':       'termrk:activate-next-terminal'
    'ctrl-shift-tab': 'termrk:activate-previous-terminal'

    '%': 'termrk:trigger-keypress'
    '% f': 'termrk:insert-filename'
