@import "ui-variables";

atom-panel.termrk-panel {
    position:   relative;
    width:      100%;
    box-sizing: content-box;
    border-top: 5px solid @tool-panel-border-color;
}

atom-panel.termrk-panel .termrk-container {
    width:            100%;
    height:           100%;
    border-left:      5px solid black;
    border-right:     5px solid black;
    background-color: black;
}

atom-panel.termrk-panel .resize-handle {
    display:  inline-block;
    position: absolute;
    z-index: 1;
    top:      0;
    left:     0;
    width:    100%;
    height:   8px;

    cursor: ns-resize;
    background-color: fade(#0e14cd, 50%);
}

.termrk-container .termrk {
    position: relative;
    height: 300px;
    overflow: hidden;
    // overflow-y: auto;
    // overflow-x: auto;

    .pid-label {
        position:         absolute;
        top:              0;
        right:            20px;
        color:            white;
        background-color: red;
        opacity:          0.8;
        transition:       opacity .5s;
        &.fade-out {
            opacity:    0;
            transition: opacity 2s ease 1s;
        }
    }

    .terminal {
        float: none !important;
        border: none;

        // overflow-y: scroll;
        overflow-y: hidden;
        overflow-x: hidden;

        line-height: 1em;
        font-size: 14px;
        font-family: "Monospace";

        color: #f0f0f0;
        background: #000000;
    }

    .terminal-cursor {
        color: #000000;
        background: #f0f0f0;
    }

    &> input {
        position: absolute;
        z-index: -1;
    }
}
